<div class="container" style="margin-top: 70px;">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="tour_content">
                <img src={{viewTour.photo}} alt="">

            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Blog post-->
                    <div class="card mb-4 p-3">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <h2>{{viewTour.title}}</h2>
                            </div>
                            <div class="row mt-3" style="color:  #5f5e5e;">
                                <div class="col-lg-3">
                                    <p> <i class="fa-solid fa-location-dot text-warning"> </i> {{viewTour.city}}</p>
                                </div>
                                <div class="col-lg-6">
                                    <p><i class="fa-solid fa-location-dot text-warning"> </i> <span> {{viewTour.address}}</span>
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                </div>
                            </div>
                            <div class="row mt-1" style="color:  #5f5e5e;">
                                <div class="col-lg-4">
                                    <p><i class="fa-solid fa-money-check-dollar text-warning"> </i>  <span>&nbsp;$  {{viewTour.price}} / per person</span>
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                    <p><i class="fa-solid fa-user text-warning"> </i> <span> {{viewTour.maxGroupSize}} persons</span>
                                    </p>
                                </div>
                                <div class="col-lg-1">

                                </div>
                            </div>
                            <div class="col-lg-12 mt-2">
                                <h4 style="font-weight: 500; margin-bottom: 1rem;">Description</h4>
                                <span class="mt-5" style="color:  #5f5e5e;">{{viewTour.desc}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-lg-12">
                    <div class="card mb-4 p-3">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <h4 style="font-weight:500;">Reviews</h4>
                            </div>
                            <div class="row">
                                <form [formGroup]="reviewForm">
                                    <div class="ms-4 mb-3">
                                        <span (click)="rate(1)"><i [class]="rating >= 1 ? 'fas fa-star text-warning' : 'far fa-star text-warning'"></i></span>
                                        <span (click)="rate(2)"><i [class]="rating >= 2 ? 'fas fa-star text-warning ms-1' : 'far fa-star text-warning ms-2'"></i></span>
                                        <span (click)="rate(3)"><i [class]="rating >= 3 ? 'fas fa-star text-warning ms-1' : 'far fa-star text-warning ms-2'"></i></span>
                                        <span (click)="rate(4)"><i [class]="rating >= 4 ? 'fas fa-star text-warning ms-1' : 'far fa-star text-warning ms-2'"></i></span>
                                        <span (click)="rate(5)"><i [class]="rating >= 5 ? 'fas fa-star text-warning ms-1' : 'far fa-star text-warning ms-2'"></i></span>
                                      </div>
                                    <div class="col-lg-12 review_input">
                                        <input formControlName="review" id="ri" name="rn" type="text" placeholder="share your thoughts">
                                        <button type="button" (click)="review(viewTour.id)" class="rebtn text-white bg-warning">Submit</button>
                                    </div>
                                </form>
                                <span class="ms-5" *ngIf="this.reviewForm.get('review')?.errors && this.reviewForm.get('review')?.touched">
                                    <p class="text-danger">Field is required</p>
                                </span>
                            </div>
                            <div class="row mt-5" *ngFor="let i of vReview">
                                <div class="col-lg-1">
                                        <img style="width: 3rem; height: 3rem;" src="https://i.postimg.cc/d0y2HSTH/avatar.jpg" alt="">
                                </div>
                                <div class="col-lg-9">
                                    <span style="font-weight: 500; font-size:1rem; color: black;">{{i.username}}</span><br>
                                    <span style="color:#5f5e5e;">{{i.date | date:'short'}}
                                    </span><br><br>
                                    <p style="color :black;">{{i.
                                        review}}</p>
                            </div>
                            <div class="col-lg-2">
                               <p style="color:  #5f5e5e;">
                                    ({{i.rating}}) 5 <i
                                    class="fa-solid fa-star text-warning"></i>
                               </p>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
</div>

        <!-- Side widgets-->
        <div class="col-lg-4">
         <div class="booking">
    <div class="booking_top  text-center">
        <li>
            <h3 class="mt-3">
                $ {{viewTour.price}} <span> / per person</span>
            </h3>        
           
        </li>

    </div>
    <div class="booking_form">
        <h5 style="font-size: 1.2rem; overflow-y: hidden;">Information</h5>
        <form [formGroup]="bookingForm"  class="booking_info-form">
            <input formControlName="fullName" id="fni" name="fnn" type="text" placeholder="full Name"><br>
            <span *ngIf="this.bookingForm.get('fullName')?.errors && this.bookingForm.get('fullName')?.touched">
                <p class="text-danger">accept only characters</p>
            </span>
            <input formControlName="email" id="ei" name="en" type="text" name="" id="" placeholder="Email Id"><br>
            <span *ngIf="this.bookingForm.get('email')?.errors && this.bookingForm.get('email')?.touched">
                <p class="text-danger">accept only Email</p>
            </span>
            <input formControlName="numOm" name="quantity" [(ngModel)]="inputValue"
             id="quantity" type="number" min="1" max="{{viewTour.maxGroupSize}}" placeholder="number of members">
            <span *ngIf="this.bookingForm.get('numOm')?.errors && this.bookingForm.get('numOm')?.touched"><br>
                <p class="text-danger">your group size must between 1 to {{viewTour.maxGroupSize}}</p>
            </span>
            <input formControlName="date" id="di" name="dn" type="date" class="d-flex align-items-center gap-3">
            <span *ngIf="this.bookingForm.get('date')?.errors && this.bookingForm.get('date')?.touched">
                <p class="text-danger">fix a date</p>
            </span>

        </form>
    </div>
    <div class="booking_bottom">
        <li class="border-0 px-0">
            <h5 class="d-flex align-items-center gap-1" *ngIf="inputValue"> <strong>$ {{viewTour.price}}</strong>  <i class="fa-solid fa-xmark" style="color: #6e7074"></i> <strong>{{inputValue}} person</strong>
            </h5>
            <h5 class="d-flex align-items-center gap-1" *ngIf="!inputValue"><strong> $ {{viewTour.price}} </strong><i class="fa-solid fa-xmark" style="color: #6e7074"></i><strong>{{inititalCount}} person</strong>
            </h5>
            <span *ngIf="!inputValue"><strong>$ {{initialAmount}}</strong></span>
            <span *ngIf="inputValue"><strong>$ {{ inputValue * viewTour.price}}</strong></span>
        </li>
        <li class="border-0 px-0 s">
            <h5><strong>Service charge</strong></h5>
            <span *ngIf="!inputValue"><strong>$ {{serviceCharge}}</strong></span>
            <span *ngIf="inputValue"><strong>$ {{inputValue * serviceCharge}}</strong></span>
        </li>
        
        <li class="border-0 px-0 total">
            <h5>Total</h5>
            <span *ngIf="!inputValue">$ {{ initialTotal}}</span>
            <span *ngIf="inputValue">$ {{ inputValue * viewTour.price + inputValue * serviceCharge}}</span>
        </li>
    
    </div>
    <button (click)="booking(viewTour)" class="btn w-100 mt-3 bg-warning text-white" type="button">Book Now</button>

</div>            
        </div>
           
    </div>
</div>
